<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{"yyyy-MM-dd HH:mm:ss,SSS"} [%-24.24thread] %-5level %-18logger{0} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="debug">
 		<appender-ref ref="CONSOLE"/>
    </root>
    
    <logger name="org.jboss" level="info" />
</configuration>
